
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;

}

.container {
    position: relative;
    background: url(img/code.jpg) no-repeat center/cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.capa-1 {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #3A5A40;
    z-index: 2;
    position: absolute;
    text-align:center ;
}

.capa-2 {
    padding: 20px;
    border-radius: 10px;
    background-color:#FFD369;
    z-index: 1;
    position: absolute;
    width: 340px;
    text-align: center;
}

.container div:hover {
    transform: translateY(0px) scale(1.1);
    z-index: 3;
}